{{#partial "content"}}

    <div id="shujaasuccess" class="cover-container d-flex text-start p-6 text-white">

    <div class="d-flex w-100 p-6 mx-auto flex-column">

        <main class="col-lg-10 mx-auto p-6 py-md-5">
            <h1>Success!</h1>
            <p class="lead">Your Shujaa has been saved successfully.</p>
            <p class="lead">
                <a href="/#herolist" class="btn btn-lg btn-danger fw-bold text-white border-white">Go Back</a>
            </p>
        </main>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}